body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #252F3D;
    width: 1500px;
    height: 50px;
    
    text-align: center;
    color: white;

}

nav {
    display: flex;
    justify-content: space-around;

    padding: 10px;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
a{
color: #FFF;
font-family: Manrope;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: 100%; /* 12px */
text-transform: capitalize;
}

.fila{
display: flex;
width: 1500px;
padding: 30px 127px;
justify-content: space-between;
align-items: center;
}

.logo img{
    width: 192px;
    height: 36px;
    flex-shrink: 0;
}


